<header class="header">
    <h1 class="header__title">{{ title }}</h1>
</header>

<main>
    <section class="messages">
        @if( !(dataLoaded$ | async) ) {
        <p class="messages__loading">Please wait while we load your data...</p>
        }
    </section>
    <section class="data-container">
        <div class="data-container__item">
            <p class="data-container__label">Number of JOs</p>
            <p class="data-container__value">{{ years$ | async }}</p>
        </div>
        <div class="data-container__item">
            <p class="data-container__label">Number of countries</p>
            <p class="data-container__value">{{ countries$ | async }}</p>
        </div>
    </section>

    <section class="chart-container">
        <ngx-charts-pie-chart [scheme]="'cool'" [results]="pieChartData$ |
            async " [gradient]="gradient" [legend]="showLegend" [labels]="showLabels" [explodeSlices]="explodeSlices"
            [doughnut]="doughnut" ngx-tooltip [tooltipTemplate]="tooltipTemplate" (select)="onSelect($event)">
            <ng-template #tooltipTemplate let-model="model">
                <app-custom-tooltip [data]="model" />
            </ng-template>
        </ngx-charts-pie-chart>

    </section>
</main>