<header class="header">
    <h1 class="header__title">{{ (country$ | async) ?? 'Country' }}</h1>
</header>

<main>
    <section class="messages">
        @if( !(dataLoaded$ | async) ) {
        <p class="messages__loading">Please wait while we load your data...</p>
        }
        @if(errorMessage) {
        <p class="messages__error">
            {{ errorMessage }}
        </p>
        }
    </section>
    <section class="data-container">
        <div class="data-container__item">
            <p class="data-container__label">Number of entries</p>
            <p class="data-container__value">{{ participations$ | async }}</p>
        </div>
        <div class="data-container__item">
            <p class="data-container__label">Total number medals</p>
            <p class="data-container__value">{{ medals$ | async }}</p>
        </div>
        <div class="data-container__item">
            <p class="data-container__label">Total number of athletes</p>
            <p class="data-container__value">{{ athletes$ | async }}</p>
        </div>
    </section>
    <section class="chart-container">
        <ngx-charts-line-chart [scheme]="'cool'" [results]="lineChartData$ | async" [legend]="legend" [xAxis]="xAxis"
            [yAxis]="yAxis" [showGridLines]="showGridLines" [autoScale]="autoScale" [animations]="animations"
            [showXAxisLabel]="showLabels" [showYAxisLabel]="showLabels" [xAxisLabel]="'Year'" [yAxisLabel]="'Medals'">
        </ngx-charts-line-chart>
    </section>
    <section>
        <button class="back-button" type="button" (click)="goBack()">BACK</button>
    </section>
</main>