<header>
    <h1>{{ (country$ | async) ?? 'Country' }}</h1>
</header>

<main>
    @if( !(dataLoaded$ | async) ) {
    <p style="color: red; text-align: center;">Please wait while we load your data...</p>
    }
    @if(errorMessage) {
    <p class="error-message">
        {{ errorMessage }}
    </p>
    }
    <section class="data-container">
        <div class="data-item">
            <p class="data-item-label">Number of entries</p>
            <p class="data-item-value">{{ participations$ | async }}</p>
        </div>
        <div class="data-item">
            <p class="data-item-label">Total number medals</p>
            <p class="data-item-value">{{ medals$ | async }}</p>
        </div>
        <div class="data-item">
            <p class="data-item-label">Total number of athletes</p>
            <p class="data-item-value">{{ athletes$ | async }}</p>
        </div>
    </section>
    <section class="chart-container">
        <ngx-charts-line-chart [scheme]="'cool'" [results]="lineChartData$ | async" [legend]="legend" [xAxis]="xAxis"
            [yAxis]="yAxis" [showGridLines]="showGridLines" [autoScale]="autoScale" [animations]="animations"
            [showXAxisLabel]="showLabels" [showYAxisLabel]="showLabels" [xAxisLabel]="'Year'" [yAxisLabel]="'Medals'">
        </ngx-charts-line-chart>
    </section>
    <section>
        <button class="back-button" type="button" (click)="goBack()">BACK</button>
    </section>
</main>